@import "../variables.scss";

.leftNavContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 15%;
    min-width: 200px;
    padding: 1.5em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 0px 5px rgb(0,0,0,0.3);
    background-color: $grayBackground;
    .allToDo{
        margin: auto;
        p{
            color: black;
            border: solid 2px black
        }
    }
    .afterLive{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
        border-radius: 15px;
        background-color: rgba(255,255,255,0.4);
        .small{
            width: 80%;
        }
    }
    .navChild{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        margin: 10px 0;
        width: 90%;
        height: 40px;
        padding: 5px;
        color: white;
        background-color: white;
        font-weight: 600;
        cursor: pointer;
        transition: all 200ms ease;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 70%;
            // min-width: 110px;
            border-radius: 50px;
            transition: all 200ms ease;
        }
        .arrow{
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            margin-right: 20px;
            transition: all 200ms ease;
        }
    }
    .navChild:hover{
        p{
            width: 80%;
        }
        .arrow{
            padding: 5px;
            margin-right: 10px;
        }
    }
    //coloring all nav buttons
    @each $themeColour, $i in $mainColors {
        .#{$themeColour} p{
            background: linear-gradient(90deg, $i, $i);
        }
    }
}