@import 'variables.scss';

.gridRowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-top: solid 1px black;
    background-color: white;
    margin: auto;
    .rowElement{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        width: (100%/6);
        border-right: solid 1px black;
        &.name{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .resumePopup{
                // position: absolute;
                // inset: 0;
            }
        }
        &.end{
            display: flex;
            justify-content: space-around;
        }
    }
    .status{
        border-right: none;
        p{
            background-color: $taskInProgress;
            font-weight: 800;
            color: white;
            width: 70%;
            padding: 10px;
            border-radius: 7px;
            border: solid 2px white;
        }
        .Finished{
            background-color: $taskFinished;
        }
        .Paused{
            background-color: $taskPaused;
        }
    }
    .endButton, .pauseButton, .resumeButton{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $buttonGreen;
        color: white;
        border: solid 3px white;
        border-radius: 100px;
        padding: 0;
        font-weight: 700;
        width: 50px;
        height: 50px;
        font-size: 25px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        cursor: pointer;
    }
    .resumeButton{
        font-size: 1em;
        width: auto;
        height: auto;
        padding: 0.5em;
    }
    .pauseButton{
        background-color: $buttonRed;
    }
}