@import 'variables.scss';

.startButtonContainer{
    width: 25%;
    min-width: 300px;
    margin: auto;
    button{
        width: 100%;
        padding: 0.7em 2em;
        font-size: 25px;
        font-weight: 700;
        background: $buttonGreen;
        color: white;
        border-radius: 100px;
        // border: solid 0.5px white;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
        transition: all 200ms ease;
        &:hover{
            cursor: pointer;
            letter-spacing: 3px;
            transform: translateY(-5px);
            box-shadow: 2px 7px 6px rgba(0,0,0,0.5),
            inset 2px 2px 2px rgba(255,255,255,0.7);
        }
        &:active{
            transform: scale(0.9);
            letter-spacing: 1px;
        }
    }
}