@import 'variables.scss';
.taskObjectContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 4% 0;
    margin: 1em auto;
    border-radius: 100px;
    border: solid 2px rgba(0,0,0,0.2);
    @each $page, $color in $mainColors {
        &.#{$page}{
            border: solid 1px $color;
            background-color: rgba($color, 0.3);
            box-shadow: inset 0px 0px 4px $color;
        }
    }
    .type{
        position: absolute;
        top: -13px;
        left: 7%;
        padding: 2px 3px;
        font-size: 10pt;
        background-color: white;
        border-radius: 3px;
    }
    .nameInput{
        width: 100%;
        max-width: 100px;
        background-color: rgba(255,255,255,0.4);
        border: solid 2px rgba(255,255,255,0.6);
        border-radius: 5px;
    }
    .elementContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            font-size: 8pt;
            color: rgba(0,0,0,0.6);
        }
        &.aisle{
            max-width: 80px;
        }
    }
    .button{
        color: white;
        width: 25%;
        padding: 10px;
        font-weight: 600;
        border: solid 1px white;
        border-radius: 50px;
        transition: all 200ms ease;
        &:hover{
            box-shadow: -2px 2px 5px rgba(0,0,0,0.6);
            cursor: pointer;
        }
        &:disabled, &[disabled]{
            opacity: 0.5;
            width: 25%;
            transform: scale(1);
            filter: brightness(100%);
            cursor: not-allowed;
            box-shadow: none;
        }
        &:active{
            transform: scale(0.9);
        }
    }
    .startButton{
        color: black;
    }
    .doneButton{
        background-color: $buttonRed;
    }
}