
.dryGoodsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    .dryGoodsOptionsContainer{
        display: flex;
        // justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 10px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .allToDoContainer{
        display: flex;
        flex-direction: column;
        border: solid 2px black;
        border-radius: 20px;
        width: 100%;
        overflow: hidden;
        .headerRow{
            display: flex;
            justify-content: space-around;
            border-bottom: solid 1px black;
            div{
                padding: 2%;
                p{
                    font-weight: 600;
                }
            }
        }
        .tableColumns{
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            .emptyMessage{
                width: 100%;
                margin: auto;
                padding: 2em;
                color: rgba(0,0,0,0.5);
            }
            .column{
                width: calc((100%/2) - 4%);
                padding: 1% 2%;
            }
        }
    }
}
