@import '../../variables.scss';

.startButtonContainer{
    width: 25%;
    min-width: 300px;
    margin: auto;
    button{
        width: 100%;
        padding: 0.7em 2em;
        font-size: 25px;
        font-weight: 700;
        background: $buttonGreen;
        color: white;
        border-radius: 10px;
        border: solid 2px white;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        transition: all 200ms ease;
    }
    button:hover{
        cursor: pointer;
        letter-spacing: 3px;
        transform: translateY(-5px);
    }
}