// define all colors
$mainColors: (
  "liveFreight": #585858,
  "dryGoods": #585858,
  "perishables": #585858,
  "all": #585858,
  "upstock": #EB3636,
  "backstock": #31B94F,
  "sectors": #D9D11E,
  "rounding": #cd50d9,
  "bulk": #806021,
  "periCastors": #68a5d0,
  "periBackstock": #1E8AD9,
  "beerWine": #8E4DC1
);
$grayBackground: #D9D9D9;
$headerGray: #686868;

// ===Live Variables===
$liveGridHeader: #F6D970;
$buttonGreen: #31B94F;
$buttonRed: #b93131;
$gridRowDark: #c7c7c7;
$gridRowLight: #e6e6e6;
$taskInProgress: #ababab;
$taskFinished: #31B94F;

// ===Add Task Variables===
$radioActive: #848484;
$radioBackground: #f1f1f1;

// ===Admin Variables===
$adminDark: #6c6c6c;
$adminLight: #dddddd;