@import '../../variables.scss';

.headerContainer{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 200ms ease;
    @each $themeColour, $i in $mainColors {
        &.#{$themeColour}{
            background-color: $i;
        }
    }
    .dateContainer{
        width: 25%;
        margin: 1em auto;
        .top{
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            width: 60%;
            margin: auto;
            .day{
                font-size: 2em;
            }
            .fullDate{
                font-size: 1.3em;
            }
        }
        p{
            margin: 0;
        }
        .time{
            font-size: 3em;
            font-weight: 700;
        }
    }
    .titleContainer{
        display: flex;
        justify-content: space-between;
        width: 75%;
        height: 100%;
        padding-left: 1em;
        border-left: solid 1px white;
        h1{
            font-size: 3em;
            letter-spacing: 3px;
            text-align: left;
            margin-bottom: auto;
        }
        .buttonsContainer{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            width: 20%;
            margin-right: 40px;
        }
    }
}