.shrinkLogContainer{
    .shrinkButton{
        display: flex;
        align-items: center;
        justify-content: center;
        // border: solid 2px black;
        border: none;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
        background-color: white;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
        transition: all ease 200ms;
        
    }
}