@import '../../../variables.scss';
.addNewEmployeeContainer{
    background-color: $grayBackground;
    padding: 3%;
    border-radius: 15px;
    .formTitle{
        color: $headerGray;
    }
    .formContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                font-size: 10pt;
                padding: 3px;
                background-color: $grayBackground;
                color: $headerGray;
                border-radius: 3px;
                transform: translate(15px, 10px);
            }
            input[type=text]{
                font-size: 12pt;
                height: 30px;
                border: solid 1px $headerGray;
                border-radius: 5px;
            }
            input[type=text]:focus ~ p{
                transform: translateY(-20px);
            }
        }
        .submitButton{
            background-color: $buttonGreen;
            color: white;
            width: 50%;
            padding: 15px;
            margin: 10px 0;
            font-size: 12pt;
            font-weight: 700;
            border: none;
            border-radius: 15px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
            transition: all 150ms ease;
            &:hover{
                font-size: 13pt;
                transform: translateY(-3px);
                box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
                cursor: pointer;
            }
        }
        &>*{
            margin: 10px 0;
        }
    }
}