@import '../../../variables.scss';
.addNewEmployeeContainer{
    .formTitle{
        color: $headerGray;
    }
    .formContainer{
        display: flex;
        flex-direction: column;
        label{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 10pt;
            input[type=text]{
                font-size: 12pt;
            }
        }
        &>*{
            margin: 10px 0;
        }
    }
}