<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End Of Day Report</title>
    <link rel="stylesheet" href="EODemail.css">
</head>
<body>
    <style>
        :root{
            --liveFreight: 88, 88, 88;
            --upstock: 235, 54, 54;
            --backstock: 49, 185, 79;
            --sectors: 217, 209, 30;
            --rounding: 205, 80, 217;
            --bulk: 128, 96, 33;
            --periCastors: 104, 165, 208;
            --periBackstock: 30, 138, 217;
            --beerWine: 142, 77, 193;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 300px;
            background: linear-gradient(180deg, rgb(84, 126, 84), rgba(84, 126, 84, 0.6))
        }
        .header .title, .header .date{
            color: white;
        }
        .header .title{
            font-size: 13pt;
        }
        .header .date{
            margin-bottom: 50px;
            font-size: 40pt;
        }
        .header .fullReportButton{
            padding: 15px;
            border-radius: 100px;
            border: none;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
            font-weight: 700;
            cursor: pointer;
        }


        .bottom{
            min-height: 200px;
            box-shadow: 0px -3px 20px rgba(0,0,0,0.2);
        }
        .reportContainer{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .reportObject{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 15px;
            border: solid 2px black;
            padding: 1em;
            width: 40%;
            max-width: 300px;
            min-width: 200px;
            margin: 10px 0;
            box-shadow: -2px 2px 3px rgba(0,0,0,0.4);
        }
        .reportContent{
            margin-top: 1em;
            word-spacing:1em;
            {{!-- display:inline-block;
            text-align: justify;
            text-align-last: justify;
            text-justify: distribute; --}}
        }
        #liveFreight{
            background-color: rgba(var(--liveFreight), 0.5);
        }
        #upstock{
            background: rgba(var(--upstock), 0.5);
        }
        #backstock{
            background-color: rgba(var(--backstock), 0.5);
        }
        #sectors{
            background-color: rgba(var(--sectors), 0.5);
        }
        #rounding{
            background-color: rgba(var(--rounding), 0.5);            
        }
        #bulk{
            background-color: rgba(var(--bulk), 0.5);
        }
        #periCastors{
            background-color: rgba(var(--periCastors), 0.5);
        }
        #periBackstock{
            background-color: rgba(var(--periBackstock), 0.5);
        }
        #beerWine{
            background-color: rgba(var(--beerWine), 0.5);
        }

    </style>
    <div class="header">
        <h2 class="title">End Of Day Report</h2>
        <h1 class="date">1/9/2023</h1>
        <button class="fullReportButton">FULL REPORT</button>
    </div>
    <div class="bottom">
        <div class="extraMessageContainer">
            <p>{{extraMessage}}</p>
        </div>
        <div class="reportContainer">
            <div class="reportObject" id="upstock">
                <h3 class="reportTitle">Upstock</h3>
                <p class="reportContent">{{data}}</p>
            </div>
            <div class="reportObject" id="backstock">
                <h3 class="reportTitle">Backstock</h3>
                <p class="reportContent">1 2 3 4 5 6 7</p>
            </div>
            <div class="reportObject" id="sectors">
                <h3 class="reportTitle">Sectors</h3>
                <p class="reportContent">1234567</p>
            </div>
            <div class="reportObject" id="rounding">
                <h3 class="reportTitle">Rounding</h3>
                <p class="reportContent">1234567</p>
            </div>
            <div class="reportObject" id="bulk">
                <h3 class="reportTitle">Bulk</h3>
                <p class="reportContent">1234567</p>
            </div>
            <div class="reportObject" id="periCastors">
                <h3 class="reportTitle">Peri Castors</h3>
                <p class="reportContent">1234567</p>
            </div>
            <div class="reportObject" id="periBackstock">
                <h3 class="reportTitle">Peri Backstock</h3>
                <p class="reportContent">1234567</p>
            </div>
            <div class="reportObject" id="beerWine">
                <h3 class="reportTitle">Beer & Wine</h3>
                <p class="reportContent">1234567</p>
            </div>

        </div>
    </div>
</body>
</html>